{% extends 'base.html' %}

{% block content %}
<h1>Hello, world of Tweet people!!!</h1>

<div id='tweets'>
    Loading,,,
</div>

<script>
    const tweetsElement = document.getElementById("tweets")

    const xhr = new XMLHttpRequest()
    const method = 'GET' // Post
    const url = "/tweets"
    const responseType = "json"

    function formatTweetElement(tweet){
        var formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'><p>" + tweet.content + "</p></div>"
        return formattedTweet
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function (){
        const serverResponse = xhr.response
        console.log(serverResponse)
        let listedItems = serverResponse.response
        var finalTweetStr = ""
        var i;
        for(i=0;i<listedItems.length; i++){
            <!-- console.log(i) -->
            <!-- console.log(listedItems[i]) -->
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()

</script>

{% endblock content %}


